:root {
--primary-text-color:#757575;
--titel-text-color: #212121;
--accent-color: #2196F3;
--primary-bg-color: #F5F4FA;
/*heder, #000000 */
/* hero-background-color: #2F303A, */
/*hero-titel,titel, #FFFFFF */
/* footer, 2F303A */
}
body {
 background-color: #FFFFFF;
 font-family: Roboto,sans-serif;
 font-size: 14px;
 letter-spacing: 0,03em;
 color: var(--primary-text-color);
}
.list {list-style: none;}

/* -------Logotip-------- */
.logo {
   font-family:'Releway';
   /* font-style: normal,
    це дефолтне значення */
   font-weight: 700;
   font-size: 26px;
   line-height: 1,19;
   /* Висота рядка (властивість line-height) всіх текстових елементів
    точно відповідає значенням з макета і задана як множник,
    а не в px. ( 31 ділемо на 26 = 1,19)або calc(31/26) */
   letter-spacing: 0,03em;
   color:var(--accent-color);
  }
   .logo-heder {
    color: #000000;
   }

   /*------- Site nav------ */
   .site-nav .link {
    font-weight: 500;
      font-size: 14px;
      line-height: 1.33;
      letter-spacing: 0.02em;
   color: var(--titel-text-color);
  }
 .site-nav .link:hover,
 .site-nav .link:focus  {
 color:var(--accent-color);
 }
 .link {
  text-decoration: none;
 }
 
 .site-nav .link-current {
  color: #fff000;
 }

 /* -----------Мило-телефон------------ */
  .test .link {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.33;
      letter-spacing: 0.02em;
      color: var(--primary-text-color);
    }
  .test .link:hover,
  .test .link:focus {
   color: var(--accent-color);
  }

/* ------------Герой------------- */
.hero {
  background-color: #2F303A;
  /* position: absolute; 
  width: 1600;
  height: 600;
  left: 0;
  top: 80;*/
}
.hero-titel {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60/44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

  /* -----------Кнопка--------- */
.button {
    background-color:var(--accent-color);
    border: 1px solid var(--accent-color);
    color: #FFFFFF;
    font-family: inherit;
  /*width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;*/
     font-weight: 700; 
    font-size: 16px;
    line-height: 1.87;
    text-transform: uppercase;
    cursor: pointer;
}
.button:hover,
.button:focus {background-color: #188CE8;}


/* --------Секція-Особливоті-----------*/
.section {
  background-color: var(--primary-bg-color);
/* font-weight: 700; */
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
 color: var(--titel-text-color);
}
.section-sub-titel {
/* font-weight: 400; */
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* --------Особливості-h2--------- */
.titel {
  /* font-weight: 700; */
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--titel-text-color);
  }
  /*--------Особливості-h3---------- */
.section-descroption {
  /* font-weight: 500; */
  font-size: 16px;
  line-height: calc(19/16);
  letter-spacing: 0.03em;
  color: var(--titel-text-color);
}
/*---------Особливості-<p>----------- */
.section-text {
  /* font-weight: 400; */
    font-size: 16px;
    line-height: calc(19/16);
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

  /* -----------Підвал---------- */
  .footer {
      background-color: 2F303A;
      width: 1600px;
      height: 252px;
      left: 0px;
      top: 2094px;
      
  }
  .logo-footer {
      font-family: 'Releway';
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 31px;
      letter-spacing: 0, 03em;
      color: #FFFFFF;
    }
  
  .page .link {
      color: #d5c9c9;
  }
    .page .link:hover,
    .page .link:focus {
      color: var(--accent-color);
    }
    .page .test {
      color: rgba(255, 255, 255, 0.6);
    }
    .page .test:hover,
    .page .test:focus {
      color: var(--accent-color);
    }

    /* -----ПОРТФОЛІО------ */
    /* -----Прихований<h1>---- */
.visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
  /* ------Кнопка-Фільтр-Портфоліо------*/
.filter-button {
  background-color: #F5F4FA;
  color: var(--titel-text-color);
}
.filter-button:hover,
.filter-button :focus {background-color: var(--accent-color);
  color: #FFFFFF;}
